<div class="services__slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img data-src="./images/services/slides/hh.png" class="swiper-lazy img-fluid" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img data-src="./images/services/slides/школа_гд.png" class="swiper-lazy img-fluid" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img data-src="./images/services/slides/HucksterBot.png" class="swiper-lazy img-fluid" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img data-src="./images/services/slides/Аудит.png" class="swiper-lazy img-fluid" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img data-src="./images/services/slides/hh.png" class="swiper-lazy img-fluid" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img data-src="./images/services/slides/школа_гд.png" class="swiper-lazy img-fluid" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img data-src="./images/services/slides/hh.png" class="swiper-lazy img-fluid" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img data-src="./images/services/slides/школа_гд.png" class="swiper-lazy img-fluid" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img data-src="./images/services/slides/HucksterBot.png" class="swiper-lazy img-fluid" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img data-src="./images/services/slides/Аудит.png" class="swiper-lazy img-fluid" />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
