<div class="panels">
  <div class="panel">
    <img class="panel__image" src="./images/icon-list.png" />
    <div class="panel__body">
      <div class="panel__title"><mark>100%</mark> ГАРАНТИИ</div>
      <div class="panel__text">
        Проверенной информации и рабочих бизнес-идей от первых лиц компаний со всей России и стран
        СНГ
      </div>
    </div>
  </div>

  <div class="panel panel--secondary">
    <img class="panel__image" src="./images/icon-wallet.png" />
    <div class="panel__body">
      <div class="panel__title"><mark>100%</mark> ГАРАНТИИ</div>
      <div class="panel__text">
        Возврата денежных средств, потраченных на приобретение подписки, в случае отказа по
        объективным причинам
      </div>
    </div>
  </div>
</div>
