<div class="video-xs embed-responsive embed-responsive-16by9">
  <video class="embed-responsive-item" controls>
    <source src="./video/video1.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
  </video>
</div>

<div class="photos swiper-container">
  <div class="swiper-wrapper">
    <div class="photos__slide swiper-slide">
      <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" controls>
          <source src="./video/video1.mp4" type="video/mp4" />
          Your browser does not support HTML5 video.
        </video>
      </div>
    </div>

    <div class="photos__slide swiper-slide">
      <div
        class="photos__slide__row photos__item"
        data-src="./images/photos/slides/photo1.jpg"
        style="background-image: url('./images/photos/slides/photo1.jpg')"
      ></div>
      <div class="photos__slide__row">
        <div
          class="photos__slide__column photos__item"
          data-src="./images/photos/slides/photo2.jpg"
          style="background-image: url('./images/photos/slides/photo2.jpg')"
        ></div>
        <div
          class="photos__slide__column photos__item"
          data-src="./images/photos/slides/photo3.jpg"
          style="background-image: url('./images/photos/slides/photo3.jpg')"
        ></div>
      </div>
    </div>
    <div
      class="photos__slide swiper-slide photos__item"
      data-src="./images/photos/slides/photo2.jpg"
      style="background-image: url('./images/photos/slides/photo2.jpg')"
    ></div>

    <div class="photos__slide swiper-slide">
      <div
        class="photos__slide__row photos__item"
        data-src="./images/photos/slides/photo1.jpg"
        style="background-image: url('./images/photos/slides/photo1.jpg')"
      ></div>
      <div class="photos__slide__row">
        <div
          class="photos__slide__column photos__item"
          data-src="./images/photos/slides/photo1.jpg"
          style="background-image: url('./images/photos/slides/photo1.jpg')"
        ></div>
        <div
          class="photos__slide__column photos__item"
          data-src="./images/photos/slides/photo1.jpg"
          style="background-image: url('./images/photos/slides/photo1.jpg')"
        ></div>
      </div>
    </div>
    <div
      class="photos__slide swiper-slide photos__item"
      data-src="./images/photos/slides/photo1.jpg"
      style="background-image: url('./images/photos/slides/photo1.jpg')"
    ></div>
  </div>
</div>
