<div class="reviews__slider-wrap">
  <div class="reviews__slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="review swiper-slide">
          <div class="review__image-wrap">
            <img
              data-src="./images/reviews/slides/review1-img.png"
              class="review__image swiper-lazy img-fluid"
            />
            <div class="swiper-lazy-preloader"></div>
          </div>

          <div class="review__info">
            <div class="review__info__content">
              <div class="review__text">
                «Журнал помог нам со многими нововведениями в частности, мы внедрили новую систему
                KPI и отчетности в отделе продаж. В итоге увеличилась заинтересованность сотрудников
                в продвижении бренда, а как следствие – увеличилась прибль на 25% за первые три
                месяца после изменений». «Журнал помог нам со многими нововведениями в частности, мы
                внедрили новую систему KPI и отчетности в отделе продаж. В итоге увеличилась
                заинтересованность сотрудников в продвижении бренда, а как следствие – увеличилась
                прибль на 25% за первые три месяца после изменений».
              </div>
              <div class="review__signature">
                <div class="review__signature__name">Сергей Андреев</div>
                <div class="review__signature__rank">
                  Генеральный Директор группы компаний «Каскад», Набережные челны
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="review swiper-slide">
          <div class="review__image-wrap">
            <img
              data-src="./images/reviews/slides/review1-img.png"
              class="review__image swiper-lazy img-fluid"
            />
            <div class="swiper-lazy-preloader"></div>
          </div>

          <div class="review__info">
            <div class="review__info__content">
              <div class="review__text">
                «Журнал помог нам со многими нововведениями в частности, мы внедрили новую систему
                KPI и отчетности в отделе продаж. В итоге увеличилась заинтересованность сотрудников
                в продвижении бренда, а как следствие – увеличилась прибль на 25% за первые три
                месяца после изменений». «Журнал помог нам со многими нововведениями в частности, мы
                внедрили новую систему KPI и отчетности в отделе продаж. В итоге увеличилась
                заинтересованность сотрудников в продвижении бренда, а как следствие – увеличилась
                прибль на 25% за первые три месяца после изменений».
              </div>
              <div class="review__signature">
                <div class="review__signature__name">Сергей Андреев</div>
                <div class="review__signature__rank">
                  Генеральный Директор группы компаний «Каскад», Набережные челны
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="reviews-footer-text">
    <b>Опыт <mark>более 100 000</mark> ваших коллег — руководителей</b>
  </div>
</div>
