<div class="speech-wrap__container">
  <div class="speech">
    <div class="speech__image-lg">
      <img class="img-fluid" src="./images/speech-gd/glavred.jpg" alt="" />
    </div>
    <div class="speech__info--prepend"></div>
    <div class="speech__info">
      <div class="speech__body">
        «Журнал Генеральный Директор — это первое профессиональное издание для руководителя.
        Полностью основанное на практическом опыте ваших коллег-руководителей. В нашей копилке
        знаний более 3500 проверенных бизнес-кейсов, которые вы можете использовать в своей работе
        уже завтра».
      </div>
      <div class="speech__footer">
        <div class="speech__signature">
          <div class="speech__signature__scan">
            <img class="img-fluid" src="./images/speech-gd/gd-signature-scan.png" alt="" />
          </div>
          <div class="signature__text">
            <div class="speech__signature__name">Андрей Школин</div>
            <div class="speech__signature__rank">
              Главный редактор журнала <br />
              «Генеральный Директор»
            </div>
          </div>
        </div>
        <div class="speech__image-xs">
          <img class="img-fluid" src="./images/speech-gd/glavred.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
