@import 'variables';

body {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.5;
  color: $text-color;
  background-color: $bg-body;
}

hr {
  margin-right: -$padding-x;
  margin-left: -$padding-x;
  height: 20px;
  background-image: url('../images/bg-hr.png');
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
  border: none;

  &.invert {
    transform: rotate(180deg);
  }

  @media (min-width: $screen-lg) {
    margin-right: -$padding-x-lg;
    margin-left: -$padding-x-lg;
  }

  @media (max-width: $screen-xs) {
    background-size: 200%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1,
h2,
h3 {
  font-family: $font-family-h;
}

.title {
  @include fluidFontSize(17px, 45px);

  margin-bottom: 20px;
  font-family: $font-family-h;
  line-height: $line-height-h;

  @media (min-width: ($screen-xs + 1)) and (max-width: ($screen-lg - 1)) {
    margin-bottom: calcFluidSize(8px, 20px);
  }

  @media (max-width: $screen-xs) {
    margin-bottom: 8px;
  }
}

p,
.paragraph {
  @include fluidFontSize($font-size-p-xs, $font-size-p);

  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.4;

  @media (min-width: ($screen-xs + 1)) and (max-width: ($screen-lg - 1)) {
    margin-bottom: calcFluidSize(14px, 30px);
  }

  @media (max-width: $screen-xs) {
    margin-bottom: 14px;
    line-height: 1.2857;
  }
}

mark {
  color: $brand-primary;
  background-color: transparent;
}

a {
  color: $brand-secondary;
  transition: $transition;

  &:hover {
    color: $brand-primary;
  }
}

.container {
  @include container;
}

.btn-primary {
  padding: 10px 18px 8px;
  display: inline-block;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: $brand-secondary;

  &:hover {
    color: white;
    background-color: $brand-primary;
  }

  @media (min-width: $screen-lg) {
    padding: 15px 24px 12px;
    font-size: 18px;
  }

  &--fluid {
    @include fluidFontSize(14px, 18px, $screen-xs, $screen-lg);

    @media (min-width: $screen-xs) and (max-width: ($screen-lg - 1)) {
      padding: calcFluidSize(10px, 15px, $screen-xs, $screen-lg)
        calcFluidSize(18px, 24px, $screen-xs, $screen-lg)
        calcFluidSize(8px, 12px, $screen-xs, $screen-lg);
    }

    @media (min-width: $screen-lg) {
      padding: 15px 24px 12px;
    }
  }
}
