@import 'variables';
@import 'functions';

.section-head-wrap {
  @media (min-width: $screen-lg) {
    margin-bottom: 70px;
  }
}

.section-head {
  position: relative;
  overflow: hidden;
}

.bg-gray {
  $add-height: 35px;
  $add-height-xs: 13px;

  position: relative;
  background-color: $bg-gray;

  &.bg-add-after {
    margin-bottom: $add-height;

    &::after {
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: -1px;
      width: 57%;
      height: $add-height;
      content: '';
      background-color: inherit;

      @media (min-width: ($screen-xs + 1)) and (max-width: ($screen-lg - 1)) {
        height: calcFluidSize($add-height-xs, $add-height);
      }

      @media (max-width: $screen-xs) {
        width: 37%;
        height: $add-height-xs;
      }
    }

    @media (min-width: ($screen-xs + 1)) and (max-width: ($screen-lg - 1)) {
      margin-bottom: calcFluidSize($add-height-xs, $add-height);
    }

    @media (max-width: $screen-xs) {
      margin-bottom: $add-height-xs;
    }
  }

  &.bg-add-before {
    margin-top: $add-height;

    &::after {
      position: absolute;
      bottom: 100%;
      left: 0;
      margin-bottom: -1px;
      width: 67%;
      height: $add-height;
      content: '';
      background-color: inherit;

      @media (min-width: ($screen-xs + 1)) and (max-width: ($screen-lg - 1)) {
        height: calcFluidSize($add-height-xs, $add-height);
      }

      @media (max-width: $screen-xs) {
        height: $add-height-xs;
      }
    }

    @media (min-width: ($screen-xs + 1)) and (max-width: ($screen-lg - 1)) {
      margin-top: calcFluidSize($add-height-xs, $add-height);
    }

    @media (max-width: $screen-xs) {
      margin-top: $add-height-xs;
    }
  }
}

.bg-primary {
  $add-height: 35px;
  $add-height-xs: 13px;

  position: relative;
  margin-top: $add-height;
  margin-bottom: $add-height;

  &::before,
  &::after {
    @media (min-width: ($screen-xs + 1)) and (max-width: ($screen-lg - 1)) {
      height: calcFluidSize($add-height-xs, $add-height);
    }

    @media (max-width: $screen-xs) {
      height: $add-height-xs;
    }
  }

  &::before {
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-bottom: -1px;
    width: 65%;
    height: $add-height;
    content: '';
    background-color: inherit;
  }

  &::after {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: -1px;
    width: 84%;
    height: $add-height;
    content: '';
    background-color: inherit;
  }

  mark {
    color: white;
  }

  @media (min-width: ($screen-xs + 1)) and (max-width: ($screen-lg - 1)) {
    margin-top: calcFluidSize($add-height-xs, $add-height);
    margin-bottom: calcFluidSize($add-height-xs, $add-height);
  }

  @media (max-width: $screen-xs) {
    margin-top: $add-height-xs;
    margin-bottom: $add-height-xs;
  }
}

.section-services {
  overflow: hidden;
}
