<div class="versions">
  <div class="w-100 show-note-15">
    <div class="version__head"></div>
    <div class="features-table">
      <div class="features-table__item justify-content-start">
        <img src="./images/version/icons/icon-feature-print-version.png" alt="" />
        12 выпусков <br />
        печатного журнала
      </div>
      <div class="features-table__item justify-content-start">
        <img src="./images/version/icons/icon-feature-ideas.png" alt="" />
        50+ рабочих <br />
        идей в месяц
      </div>
      <div class="features-table__item justify-content-start">
        <img src="./images/version/icons/icon-feature-base.png" alt="" />
        База из 3500 <br />
        бизнес-решений
      </div>
      <div class="features-table__item justify-content-start">
        <img src="./images/version/icons/icon-feature-services.png" alt="" />
        17 профессиональных <br />
        сервисов
      </div>
      <div class="features-table__item justify-content-start">
        <img src="./images/version/icons/icon-feature-24h-consultation.png" alt="" />
        Круглосуточная <br />
        консультация экспертов
      </div>
      <div class="features-table__item justify-content-start">
        <img src="./images/version/icons/icon-feature-organiser.png" alt="" />
        Органайзер <br />
        для путешествий
      </div>
    </div>
  </div>

  <div class="version">
    <div class="version__head">
      <picture>
        <source media="(max-width: 480px)" srcset="./images/version/version-el-mobile.png" />
        <source media="(min-width: 481px)" srcset="./images/version/version-el.png" />
        <img class="version__image" src="./images/version/version-el.png" alt="" />
      </picture>

      <h4 class="version__title">
        Электронный журнал <br />
        «Генеральный Директор»
        <small class="version__title--small">+ архив номеров с 2006 года</small>
      </h4>
      <a class="version__subscribe btn-primary show-note-15" href="#">ПОДПИСАТЬСЯ</a>
    </div>

    <div class="features-table show-note-15">
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-false.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
    </div>

    <div class="version__description">
      7 месяцев за <span class="version__price-old">22 715 ₽</span>
    </div>
    <div class="version__price">19 470 ₽</div>
    <a class="version__pay-invoice btn-primary" href="#">РАСПЕЧАТАТЬ СЧЕТ</a>
    <a class="version__pay-card" href="#">Оплата картой</a>

    <div class="hide-note-15">
      <a
        class="version__features-toggle collapsed"
        data-toggle="collapse"
        href="#features-El"
        role="button"
        aria-expanded="false"
        aria-controls="features-El"
        >Дополнительные возможности подписчиков</a
      >

      <div class="version__features-list collapse" id="features-El">
        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-print-version.png"
            alt=""
          />
          <div class="version__feature__title">7 выпусков печатного журнала</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-base.png"
            alt=""
          />
          <div class="version__feature__title">База из 3500 бизнес-решений</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-services.png"
            alt=""
          />
          <div class="version__feature__title">17 профессиональных сервисов</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-ideas.png"
            alt=""
          />
          <div class="version__feature__title">50+ рабочих идей в месяц</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-24h-consultation.png"
            alt=""
          />
          <div class="version__feature__title">Круглосуточная консультация экспертов</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-organiser.png"
            alt=""
          />
          <div class="version__feature__title">Органайзер для путешествий</div>
        </div>
      </div>
    </div>
  </div>

  <div class="version">
    <div class="version__head">
      <picture>
        <source media="(max-width: 480px)" srcset="./images/version/version-print-mobile.png" />
        <source media="(min-width: 481px)" srcset="./images/version/version-print.png" />
        <img class="version__image" src="./images/version/version-print.png" alt="" />
      </picture>

      <h4 class="version__title">
        Печатный журнал <br />
        «Генеральный Директор»
      </h4>
      <a class="version__subscribe btn-primary show-note-15" href="#">ПОДПИСАТЬСЯ</a>
    </div>

    <div class="features-table show-note-15">
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-false.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
    </div>

    <div class="version__description">
      7 месяцев за <span class="version__price-old">22 715 ₽</span>
    </div>
    <div class="version__price">19 470 ₽</div>
    <a class="version__pay-invoice btn-primary" href="#">РАСПЕЧАТАТЬ СЧЕТ</a>
    <a class="version__pay-card" href="#">Оплата картой</a>

    <div class="hide-note-15">
      <a
        class="version__features-toggle collapsed"
        data-toggle="collapse"
        href="#features-Print"
        role="button"
        aria-expanded="false"
        aria-controls="features-Print"
        >Дополнительные возможности подписчиков</a
      >

      <div class="version__features-list collapse" id="features-Print">
        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-print-version.png"
            alt=""
          />
          <div class="version__feature__title">7 выпусков печатного журнала</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-base.png"
            alt=""
          />
          <div class="version__feature__title">База из 3500 бизнес-решений</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-services.png"
            alt=""
          />
          <div class="version__feature__title">17 профессиональных сервисов</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-ideas.png"
            alt=""
          />
          <div class="version__feature__title">50+ рабочих идей в месяц</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-24h-consultation.png"
            alt=""
          />
          <div class="version__feature__title">Круглосуточная консультация экспертов</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-organiser.png"
            alt=""
          />
          <div class="version__feature__title">Органайзер для путешествий</div>
        </div>
      </div>
    </div>
  </div>

  <div class="version">
    <div class="version__head">
      <picture>
        <source media="(max-width: 480px)" srcset="./images/version/version-el&print-mobile.png" />
        <source media="(min-width: 481px)" srcset="./images/version/version-el&print.png" />
        <img
          class="version__image version__image--float"
          src="./images/version/version-el&print.png"
          alt=""
        />
      </picture>

      <h4 class="version__title">
        <span class="text-nowrap">Печатный + электронный журнал</span> <br />
        «Генеральный Директор»
        <small class="version__title--small">+ архив номеров с 2006 года</small>
      </h4>
      <a class="version__subscribe btn-primary show-note-15" href="#">ПОДПИСАТЬСЯ</a>
    </div>

    <div class="features-table show-note-15">
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-false.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
      <div class="features-table__item">
        <img src="./images/version/icons/icon-feature-true.png" alt="" />
      </div>
    </div>

    <div class="version__description">
      7 месяцев за <span class="version__price-old">22 715 ₽</span>
    </div>
    <div class="version__price">19 470 ₽</div>
    <a class="version__pay-invoice btn-primary" href="#">РАСПЕЧАТАТЬ СЧЕТ</a>
    <a class="version__pay-card" href="#">Оплата картой</a>

    <div class="hide-note-15">
      <a
        class="version__features-toggle collapsed"
        data-toggle="collapse"
        href="#features-El-Print"
        role="button"
        aria-expanded="false"
        aria-controls="features-El-Print"
        >Дополнительные возможности подписчиков</a
      >

      <div class="version__features-list collapse" id="features-El-Print">
        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-print-version.png"
            alt=""
          />
          <div class="version__feature__title">7 выпусков печатного журнала</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-base.png"
            alt=""
          />
          <div class="version__feature__title">База из 3500 бизнес-решений</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-services.png"
            alt=""
          />
          <div class="version__feature__title">17 профессиональных сервисов</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-ideas.png"
            alt=""
          />
          <div class="version__feature__title">50+ рабочих идей в месяц</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-24h-consultation.png"
            alt=""
          />
          <div class="version__feature__title">Круглосуточная консультация экспертов</div>
        </div>

        <div class="version__feature">
          <img
            class="version__feature__image"
            src="./images/version/icons/icon-feature-organiser.png"
            alt=""
          />
          <div class="version__feature__title">Органайзер для путешествий</div>
        </div>
      </div>
    </div>
  </div>
</div>
