<footer class="footer">
  <div class="footer__container container">
    <img class="footer__logo" src="./images/logo.png" alt="Генеральный директор" />

    <ul class="socials">
      <li class="socials__item socials__item__facebook"><a href="#">facebook</a></li>
      <li class="socials__item socials__item__youtube"><a href="#">youtube</a></li>
      <li class="socials__item socials__item__vk"><a href="#">vk</a></li>
    </ul>

    <div class="address">
      <div class="address__phone">8-800-511-46-74</div>
      <a class="address__email" href="mailto:vip@gd.ru">vip@gd.ru</a>
    </div>
  </div>
</footer>
