<div class="banner">
  <h1 class="banner__title">
    Первое профессиональное <br />
    бизнес-издание <br />
    <span class="banner__title--marked">
      для руководителей
    </span>
  </h1>

  <div class="banner__description">
    Более <b>100 000 руководителей</b> <br />
    в числе наших читателей. <br />
    Практический опыт <b>с 2006 года</b>.
  </div>

  <a class="banner__button" href="#">ПОДПИСАТЬСЯ</a>
  <br />
  <a class="banner__link" href="#">Оплата картой</a>

  <div class="banner__image"></div>
</div>
